<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiffrement d'image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
     <header>
        <h1>My Encryption App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('encryption.home') }}">Home</a></li>
                <li><a href="{{ url_for('encryption.show_encrypt_form') }}">Chiffrer des données</a></li>
                <li><a href="{{ url_for('encryption.show_decrypt_form') }}">Déchiffrer des données</a></li>
                <li><a href="{{ url_for('encryption.show_generate_keys_form') }}">Générer des clés</a></li>
                <li><a href="{{ url_for('encryption.show_decrypt_image_form') }}">Déchiffrer des images</a></li>
            </ul>
        </nav>
                <h1>Chiffrement des images</h1>

    </header>


    <div class="container">
        <h1>Chiffrement d'une Image</h1>
        <form action="/encrypt-image" method="POST" enctype="multipart/form-data">
            <label for="image">Sélectionnez une image à chiffrer :</label>
            <input type="file" name="image" id="image" accept="image/*" required>

            <label for="public_key_file">Sélectionnez le fichier de clé publique :</label>
            <input type="file" name="public_key_file" id="public_key_file" required>

            <button type="submit">Chiffrer l'image</button>
        </form>
                <a href="{{ url_for('encryption.home') }}" class="button">Back to Home</a>

    </div>
</body>
</html>
